<!DOCTYPE html>
<html>
  <head>
    <title>Pollution Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="../static/css/style.css?q={{ time }}" rel="stylesheet" type="text/css" />
  </head>
  <body class = "body">
  <div class = "navbar">
    <a class = "active" href = "{{  url_for('index')}}">Home</a>
        <div class="dropdown">
    <button class="dropbtn">Pollution
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{  url_for('AirPollution')}} ">Air Pollution</a>
      <a href="{{  url_for('WaterPollution')}} ">Water Pollution</a>
      <a href="{{  url_for('LandPollution')}}">Land Pollution</a>
    </div>
  </div>
    <a href = "{{  url_for('WaysToHelp')}}">Ways To Help</a>
    <a href = "{{  url_for('Survey')}}">Survey</a>

  </div> 
<br></br>

<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
			<div class="card" style="width: 37.82rem;">
				<img class="card-img-top" src= "../static/images/pollution1.jpeg" width = "600" height = "400">
      <div class="card-body">
      <h3 class="card-title text-center" >Air Pollution</h3>
      <p class="card-text text-center">The release of toxic materials into the air can cause a varaiety of health issues, including heart disease, lung disease and even cognitive impairment.</p>
      <a href = "AirPollution.html">Learn More</a>
      <!-- This link is just a placeholder... we can use it for information and maybe create our own page -->
    </div>
  </div>
  </div>

  <div class="mySlides fade">
			<div class="card" style="width: 37.9rem;">
				<img class="card-img-top" src= "../static/images/pollution2.jpeg" width = "600" height = "400">
      <div class="card-body">
      <h3 class="card-title">Water Pollution</h3>
      <p class="card-text">Water has been widely known for being the solvent that is capable of dissolving various substances. Because of this, water can be easily polluted. When harmful substances are released into bodies of water, such as streams or rivers, they easily dissolve and mix with the water resulting in contamination. Contaminated Water can have severe health risks for both Wildlife and Humans.</p>
      <a href = "https://www.nrdc.org/stories/water-pollution-everything-you-need-know">Learn More</a>
    </div>
  </div>
  </div>

  <div class="mySlides fade">
			<div class="card" style="width: 37.9rem;">
				<img class="card-img-top" src= "../static/images/pollution3.jpeg" width = "600" height = "400">
      <div class="card-body">
      <h3 class="card-title">Land Pollution</h3>
      <p class="card-text">Some informations about land pollution. Some Other infomration about land pollution. </p>
      <a href = "LandPollution.html">Learn More</a>
    </div>
  </div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

    <script src="../static/css/script.js"></script>
  </body>
</html>