<html>
  <head>
    <title>Pollution Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class = "navbar">
    <a class ="home" href = "index.html"> Home</a>
        <div class="dropdown">
    <button class="dropbtn">Pollution
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="AirPollution.html">Air Pollution</a>
      <a href="WaterPollution.html">Water Pollution</a>
      <a href="LandPollution.html">Land Pollution</a>
    </div>
  </div>
    <a href = "WaysToHelp.html">Ways To Help</a>
    <a class = "active" href = "Survey.html">Survey</a>

  </div> 
  </div> 
    
  </div> 
    
    <script src="static/script.js"></script>
  </body>
</html>
 <img src = "img/pollution1.jpeg" width = "600" height= "400">
    <img src = "img/pollution2.jpeg" width = "600" height= "400">
    <img src = "img/pollution3.jpeg" width = "600" height= "400">