<html>
  <head>
    <title>Pollution Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="../static/css/style.css?q={{ time }}" rel="stylesheet" type="text/css" />
  </head>
  <body class = "body">
    <div class = "navbar">
    <a class ="home" href = "{{  url_for('index')}}"> Home</a>
        <div class="dropdown">
    <button class="dropbtn">Pollution
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{  url_for('AirPollution')}} ">Air Pollution</a>
     <a href="{{  url_for('WaterPollution')}} ">Water Pollution</a>
     <a href="{{  url_for('LandPollution')}}">Land Pollution</a>
    </div>
  </div>
    <a href = "{{  url_for('WaysToHelp')}}">Ways To Help</a>
    <a class = "active" href = "{{  url_for('Survey')}}">Survey</a>
  </div> 
  </div> 
  </div> 
  <div class = "bodytext">
    <h1>The air quality for your location is:
    {{airquality}}</h1>
  </div>
  
      <script src="../static/css/script.js"></script>
  </body>
</html>