<html>
  <head>
    <title>Pollution Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
 <div class = "navbar">
    <a class ="home" href = "index.html"> Home</a>
        <div class="dropdown">
    <button class="dropbtn">Pollution
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="AirPollution.html">Air Pollution</a>
      <a href="WaterPollution.html">Water Pollution</a>
      <a href="LandPollution.html">Land Pollution</a>
    </div>
  </div>
    <a class = "active" href = "WaysToHelp.html">Ways To Help</a>
    <a href = "Survey.html">Survey</a>

  </div> 
  </div> 
  </div> 
    
  <div class = "bodytext"> 
    <h1 class = "text-center"> Ways To Help </h1>
      <p>The only effective way of combating pollution would be through display of our actions. While there may be some things that are out of our control, there are small things we could do to limit our contribution to the issue. These actions include but are not limited to:      
      </p>
    <ol>
      <li>Properly disposing of hazardous materials or wastes</li>
      <li>Encouraging recycling plastic and reducing plastic usage</li>
      <li>Increase in public transportation usage</li>
      <li>Avoid applying pesticides and herbicides to land or water</li>
      <li>Donating time or money to organizations that focus on combating pollution</li>
      <li>Preaching about the ongoing pollution issue and its disastrous effects ensures that the public and the federal government gets the message</li>
    </ol>
    <h1 class = "text-center">Organizations You Should Get Involved With</h1>
    <div>
    <a href = "https://cleanair.org/">1) Clean Air Organization</a>
    </div>
    <div>
    <a href = "https://foe.org/">2) Friends Of The Earth Organization</a>
    </div>
    <div>
    <a href = "https://www.edf.org/">3) Environmental Defense Fund</a>
    </div>
    <div>
    <a href = "https://saveourseas.com/">4) Save Our Seas Foundation</a>
    </div>
    </ol>
  </div>
    <script src="static/script.js"></script>
  </body>
</html>